main/main
avaStarter/avaStarter
avaStarter2/avaStarter2

exercise1/example/avaStarter
exercise1/example/generateGraphviz
exercise1/example/generatedGraphviz.txt
exercise1/example/generatedGraphviz.jpg
exercise1/example/nodeOutput*.txt

exercise2/example/avaStarter2
exercise2/example/generateGraphviz
exercise2/example/generatedGraphviz.txt
exercise2/example/generatedGraphviz.jpg
exercise2/example/nodeOutput*.txt

exercise3/fileManager/fileManager
exercise3/fileManager/*.txt

generateGraphviz/generateGraphviz

# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
